.reset-link {
  display: block;
  color: $accent-color;
  text-decoration: none;
}

.remove-btn {
  color: $accent-color;
  background: $warning-color !important;
}

.activity-btn {
  .v-btn {
    padding: 0;
    min-width: 50px;
  }
}

.save-btn {
  font-size: 14px;

  .el-button--primary.is-plain:focus, .el-button--primary.is-plain:hover {
    background: rgb(236, 250, 248);
    color: $accent-color;
  }
}