.reset-link {
  display: block;
  color: $accent-color;
  text-decoration: none;
}

.remove-btn {
  color: $accent-color;
  background: $warning-color !important;
}

.activity-btn {
  .v-btn {
    padding: 0;
    min-width: 50px;
  }
}