.event-list {
  height: calc(100vh - 136px);
  padding: 0 0 80px;
  overflow-y: auto;
  scroll-behavior: smooth;

  .event-card {
    position: relative;
    border-radius: 0;
    box-shadow: none;
    background: $accent-color;
    height: 100px;
    line-height: 1.5em;
    border-bottom: 1px solid $extra-light-color;
    margin-bottom: 2px;

    &:first-child {
      border-top: 1px solid $extra-light-color;
    }

    .v-card__title {
      padding: 0;

      .loading-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(255,255,255,0.6);

        .loading-icon {
          width: 3rem;
          transform: translate(-50%, -50%);
        }
      }
    }

    .content {
      height: 98px;
      position: relative;
      padding: 8px 10px;

      .title {
        font-size: 0.85rem !important;
        line-height: 1.25rem !important;
      }
      
      .align-bottom {
        position: absolute;
        bottom: 8px;
      }

      .location {
        position: absolute;
        bottom: 5px;
        right: 10px;
        font-size: 0.85rem;
        font-weight: 300;
        font-style: italic;
      }

      .price {
        font-size: 0.88rem;
        font-weight: 400;
        color: #41AAEF;
      }
    }
  }

  .empty {
    text-align: center;
    font-style: italic;
    font-size: 1.1rem;
    font-weight: 300;
    padding: 30px 0;
  }
}

.event-modal {
  .body {
    background: #F5F5F5;
    padding: 0;

    .croppa-container {
      width: 100vw;
      height: 200px;

      .edit-btn {
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
      }
    }
  }
}

.v-dialog:not(.v-dialog--fullscreen).event-container {
  max-height: inherit;
}

.event-container {
  margin-bottom: 56px;
  border-radius: 0;
  z-index: 6 !important;

  .event {
    max-height: calc(100vh - 56px);
    font-family: 'Roboto', sans-serif !important;
    
    .header {
      .v-toolbar__content {
        padding: 0;
      }
      background: transparent;
      padding: 0;
    }

    .header.scrolled {
      background: rgba(0,0,0,0.6);
    }

    .v-card__text {
      padding: 0;
      padding-bottom: 80px;

      .header-segment {
        padding: 10px 0;
        
        &:not(:first-child) {
          border-top: 1px solid $extra-light-color;
        }

        .title {
          font-size: 1.05rem !important;
          font-weight: 500;
          line-height: 1.5 !important;
        }

        .location {
          font-size: 0.8rem;
          font-weight: 300;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          font-style: italic;

          .name {
            font-weight: bold;
            padding-bottom: 5px;
            color: $primary-color;
          }
        }

        .age-range-display {
          position: absolute;
          right: 0;
          bottom: 0;
          color: $regular-text-color;
          font-size: 0.8rem;
        }
      }

      .body {
        margin-top: 10px;
        padding: 5px 0 60px;
        font-size: 0.95rem;
        font-weight: 200;
        height: fit-content;
      }
    }

    .settings-btn {
      bottom: 30px;
    }

    .footer-actions {
      background: rgba(255, 255, 255, 0.85);
      position: fixed;
      bottom: 56px;
      width: 100vw;
      padding: 5px 10px;

      .price-display {
        font-size: 1.05rem;
        margin: 3px 0 0 5px;
        color: #41AAEF;
        font-weight: 500;
      }
    }
  }
}

.date-scroller {
  height: 40px;
  white-space: nowrap;
  overflow: auto;

  &::-webkit-scrollbar {
    display: none;
  }

  .date-scroll-item {
    height: 100%;
    display: inline-block;
    vertical-align: top;
    line-height: 1;
    text-align: right;
    border-radius: 5px;
    border: 1px solid $extra-light-color;
    padding: 3px 10px;
    margin-right: 5px;
    width: fit-content;

    .start, .end {
      display: inline-block;
      vertical-align: top;
      position: relative;
      text-align: center;

      .date {
        font-size: 0.85rem;
        color: #E61C1C;
        text-transform: uppercase;
      }
      .time {
        padding-top: 8px;
        color: $secondary-text-color;
        font-weight: 500;
        font-size: 0.75rem;
      }
    }

    .qualifier {
      padding: 10px;
      font-size: 0.85rem;
      color: $secondary-text-color;
      display: inline-block;
      font-weight: lighter;
    }

    .vertical-center {
      margin-top: 9px;
    }
  }
}

.report-menu {
  position: relative;
  height: 90vh;
  
  .v-card__title {
    font-size: 0.85rem;
    font-weight: 600;
    box-shadow: 0 0 8px $regular-text-color;
  }

  .v-card__text {
    padding: 0;
  }

  .menu-options {
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
    height: calc(100vh - 125px);

    li {
      padding: 10px;
      position: relative;

      .details {
        padding-left: 30px;
        
        p {
          font-size: 0.75rem;
          color: rgba(0,0,0,0.4);
          margin-bottom: 0;
        }
      }

      &:not(:last-child) {
        border-bottom: 1px solid rgba(0,0,0,0.2);
      }

      .selected-icon {
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translateY(-50%);
        border: 1px solid rgba(0,0,0,0.3);
        border-radius: 30px;
        width: 23px;
        height: 23px;
        
        & > .v-icon {
          font-size: 20px;
          color: $accent-color;
        }
      }

      .selected {
        background: $warning-color;
      }
    }
  }

  .v-card__actions {
    box-shadow: 0 0 8px $regular-text-color;
  }
}

.restriction-box {
  width: 100%;

  .v-icon {
    margin-right: 8px;
  }
}