.event-list {
  height: calc(100vh - 136px);
  padding: 0 0 80px;
  overflow-y: auto;
  scroll-behavior: smooth;

  .event-card {
    border-radius: 5px;
    box-shadow: 0 0 3px #999999;
    padding: 10px;
    margin-bottom: 10px;

    .v-card__title {
      padding: 0;

      .loading-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(255,255,255,0.6);

        .loading-icon {
          width: 3rem;
          transform: translate(-50%, -50%);
        }
      }
    }
    
    .title {
      font-size: 16px !important;
    }

    .location {
      font-size: 0.7rem;
      font-weight: 300;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      font-style: italic;
      margin: 3px 0;
    }

    .price {
      font-size: 0.88rem;
      font-weight: 400;
      color: #41AAEF;
    }

    .date-field {
      line-height: 1;
      text-align: right;

      .date {
        font-size: 14px;
        color: #E61C1C;
        text-transform: uppercase;
      }
      .time {
        padding-top: 7px;
        color: $secondary-text-color;
        font-weight: 200;
        font-size: 12px;
      }
    }
  }

  .empty {
    text-align: center;
    font-style: italic;
    font-size: 1.1rem;
    font-weight: 300;
    padding: 30px 0;
  }

  .error {
    color: $accent-color;
    padding: 15px;
    line-height: 2rem;
    text-align: center;
    font-style: italic;
  }
}

.event {
  .restriction-box {
    padding: 4px 0;
  }
}

.restriction-box {
  width: 100%;

  .v-icon {
    margin-right: 8px;
  }
}

.event-modal {
  .body {
    background: #F5F5F5;
    padding: 0;
  }
}

.v-dialog:not(.v-dialog--fullscreen).event-container {
  max-height: inherit;
}

.event-container {
  margin: -56px 0 0 0;
  border-radius: 0;
  z-index: 5 !important;

  .event {
    height: calc(100vh - 56px);
    font-family: 'Roboto', sans-serif !important;

    .header {
      padding: 10px 15px 5px 15px;
      
      .title {
        font-size: 1.05rem !important;
        font-weight: 500;
        line-height: 2;
      }

      .location {
        font-size: 0.7rem;
        font-weight: 300;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        font-style: italic;
        margin: 5px 0;
      }

      .date-field {
        line-height: 1;
        text-align: right;
  
        .date {
          font-size: 0.95rem;
          color: #E61C1C;
          text-transform: uppercase;
        }
        .time {
          padding-top: 7px;
          color: $secondary-text-color;
          font-weight: 200;
          font-size: 0.85rem;
        }
      }
    }

    .body {
      max-height: calc(100vh - 343px);
      overflow: auto;
      padding: 0 15px 60px;
      font-size: 0.8rem;
      font-weight: 200;
    }

    .footer {
      position: absolute;
      display: flex;
      bottom: 0;
      width: 100%;
      height: 40px;
      text-align: center;
      border-top: 1px solid $placeholder-text-color;
      background: rgba(255,255,255,0.9);

      li {
        flex-grow: 1;
        flex-direction: row;
        flex-basis: 25%;
        padding-top: 8px;
        align-content: center;
        height: 100%;
        color: $secondary-text-color;
        

        &:not(:last-child) {
          border-right: 1px solid #e3e3e3;
        }

        &:last-child {
          font-style: italic;
          padding-top: 11px;
          font-size: 0.7rem;
        }
      }
    }
  }
}

.report-menu {
  position: relative;
  height: 90vh;
  
  .v-card__title {
    font-size: 0.85rem;
    font-weight: 600;
    box-shadow: 0 0 8px $regular-text-color;
  }

  .v-card__text {
    padding: 0;
  }

  .menu-options {
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
    height: calc(100vh - 125px);

    li {
      padding: 10px;
      position: relative;

      .details {
        padding-left: 30px;

        // h4 {
        //   font-size: 0.85rem;
        // }
        
        p {
          font-size: 0.75rem;
          color: rgba(0,0,0,0.4);
          margin-bottom: 0;
        }
      }

      &:not(:last-child) {
        border-bottom: 1px solid rgba(0,0,0,0.2);
      }

      .selected-icon {
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translateY(-50%);
        border: 1px solid rgba(0,0,0,0.3);
        border-radius: 30px;
        width: 23px;
        height: 23px;
        
        & > .v-icon {
          font-size: 20px;
          color: $accent-color;
        }
      }

      .selected {
        background: $warning-color;
      }
    }
  }

  .v-card__actions {
    box-shadow: 0 0 8px $regular-text-color;
  }
}