.day-select {
  input {
    display: none;
  }

  label {
    margin: 5px;
    display: inline-block;
    width: 40px;
    height: 40px;
    color: $placeholder-text-color;
    text-align: center;
    font-size: 0.75rem;
    border: 1px solid $placeholder-text-color;
    border-radius: 20px;
    line-height: 40px;
    cursor: pointer
  }
}

#MO:checked ~ label[for="MO"],
#TU:checked ~ label[for="TU"],
#WE:checked ~ label[for="WE"],
#TH:checked ~ label[for="TH"],
#FR:checked ~ label[for="FR"],
#SA:checked ~ label[for="SA"],
#SU:checked ~ label[for="SU"] {
  background: $secondary-color;
  color: $accent-color;
}

.large-text {
  .el-textarea__inner {
    height: 90px;
    padding: 5px 8px;
  }
}

.el-input__inner {
  padding: 0 8px;
}

.time-picker {
  background: $accent-color;

  .header {
    text-align: center;
    background: $primary-color;
    padding: 16px;
    color: $bg-accent-color;
    font-size: 2rem;
    letter-spacing: 0.1rem;
  }

  .selector {
    background: $bg-accent-color;
    padding: 16px;
    height: 290px;
    font-size: 25px;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    overflow: hidden;
    justify-content: center;

    ul {
      padding: 0 15px;
      text-align: center;
      width: 33%;
      overflow: auto;
      color: $placeholder-text-color;
      list-style-type: none;
      
      &:not(:last-child) {
        border-right: 1px solid $placeholder-text-color;
      }

      .active {
        font-size: 30px;
        color: $secondary-color;
      }
    }
  }
}