.el-message-box {
    width: 95% !important;
}

.qr-code {
    width: 100%;
    margin: 20px auto;
    text-align: center;
    border-bottom: 1px solid #efefef;
}

.handle-search {
  .handle {
    border-bottom: 1px solid $placeholder-text-color;
    text-align: center;

    p {
      font-weight: lighter;
      font-size: 1.25rem;
      color: $primary-text-color;
    }

    label {
      color: $secondary-text-color;
      font-size: 0.65rem;
      text-transform: uppercase;
      font-weight: 600;
    }
  }

  .search {
      
  }
}

.people-search {
    margin: 20px 0;
}

.list {
  height: calc(100vh - 175px);
  width: 100%;
  overflow-y: auto;
  padding-bottom: 80px;
}

.friend-list {
  max-height: calc(100vh - 200px);
  overflow: auto;
  
  h6 {
    font-size: 0.7rem;
    text-transform: uppercase;
  }
  
  p {
    font-weight: lighter;
    color: $bg-accent-color;
  }

  .empty {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 1.35rem;
    color: white;
    font-weight: 200;
  }

  .friend {
    margin: 5px 0 10px 0;
    background: $accent-color;
    box-shadow: 0 0 3px $placeholder-text-color;
    border-radius: 5px;
    height: 60px;
    width: 100%;
    color: $regular-text-color;

    .suggest-reason {
      font-size: 0.6rem;
      font-weight: 200;
      color: $warning-color;
      font-style: italic;
    }
  }
}

.group-list {
  p {
    font-weight: lighter;
    color: $bg-accent-color;
  }

  .empty {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 1.35rem;
    color: white;
    font-weight: 200;
  }
}

.manage-list-item {
  font-size: 0.8rem;
}