.el-message-box {
    width: 95% !important;
}

.qr-code {
    width: 100%;
    margin: 20px auto;
    text-align: center;
    border-bottom: 1px solid #efefef;
}

.handle-search {
  .handle {
    border-bottom: 1px solid $placeholder-text-color;
    text-align: center;

    p {
      font-weight: lighter;
      font-size: 1.25rem;
      color: $primary-text-color;
    }

    label {
      color: $secondary-text-color;
      font-size: 0.65rem;
      text-transform: uppercase;
      font-weight: 600;
    }
  }
}

.people-search {
    margin: 20px 0;
}

.list {
  padding: 0 10px 80px 10px;
}

.friend-list {
  .toggle-btn {
    font-size: 0.7rem;
    text-transform: uppercase;
    color: $secondary-text-color;
  }

  .toggle-btn.active {
    color: $primary-text-color;
    font-weight: 600;
  }
  
  .empty {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    font-style: italic;
    color: $regular-text-color;
    font-size: 1.2rem;
    font-weight: 300;
  }

  .friend {
    margin: 5px 0 5px 0;
    background: $accent-color;
    border-radius: 5px;
    color: $regular-text-color;
    box-shadow: 0 0 3px $placeholder-text-color;

    .v-image {
      background: $base-light-color;
    }
    
    .name {
      font-size: 0.74rem;
      font-weight: bold;

      .handle {
        font-size: 0.64rem;
        font-weight: 200;
      }
    }
    
    .actions {
      display: block;
      position: absolute;
      right: 5px;
      bottom: 5px;
    }

    .suggest-reason {
      font-size: 0.6rem;
      font-weight: 200;
      color: $warning-color;
      font-style: italic;
    }
  }
}

.search-list {
  height: calc(100vh - 180px);
  overflow: auto;
}

.group-list {
  .empty {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    font-style: italic;
    color: $regular-text-color;
    font-size: 1.2rem;
    font-weight: 300;
  }

  .group-card {
    margin: 10px 0;

    .v-card__title {
      position: relative;
      padding: 5px 10px;
      font-weight: 600;
      color: $secondary-color;
      font-size: 0.8rem;
      box-shadow: 0 1px 2px #8e8e8e;
    }

    .v-card__text {
      padding: 0;

      .v-list > div {
        margin: 1px 0;
        color: $primary-text-color;
        background: $lighter-color;
        border-radius: 0;

        .v-list__tile__title {
          font-size: 0.85rem;
          font-weight: 600;
        }
      }
    }
  }
}

.manage-list-item {
  font-size: 0.8rem;
}