@import 'reset';
@import 'color';
@import 'alignments';
@import 'buttons';
@import 'forms';

@import 'events';
@import 'friends';
@import 'profile';

html {
  font-family: 'Roboto', Tahoma, Geneva, Verdana, sans-serif;
}

// #region Vuetify overrides
.login-screen.theme--dark.application, .login-screen.theme--light.application {
  background: -webkit-linear-gradient(-45deg, from(#4AC1BB), color-stop(60%, #9DDDB6), to(#D1ECB5));
  background: linear-gradient(135deg, #4AC1BB 0%, #9DDDB6 60%, #D1ECB5 100%);
  background-repeat: no-repeat;
  background-size: cover; 
}

.theme--light.v-toolbar {
  background: -webkit-linear-gradient(-45deg, from(#4AC1BB), color-stop(60%, #9DDDB6), to(#D1ECB5));
  background: linear-gradient(135deg, #4AC1BB 0%, #9DDDB6 60%, #D1ECB5 100%);
  background-repeat: no-repeat;
  background-size: cover; 
}

.v-btn--bottom:not(.v-btn--absolute), .v-speed-dial--bottom:not(.v-speed-dial--absolute) {
  bottom: 70px !important;
}

.v-footer--fixed {
  z-index: 6 !important;
}

.el-switch__label {
  color: $secondary-text-color;
}

.theme--light.v-bottom-nav .v-btn:not(.v-btn--active) {
  color: rgba(0,0,0,0.2) !important;
}

.theme--light.v-list {
  background: none;
  padding: 0;
}

.v-list>div {
  margin: 5px 0;
  background: #FFFFFF;
  border-radius: 5px;
}

.el-date-editor.el-input, .el-date-editor.el-input__inner {
  width: inherit;
}

.theme--dark.v-divider {
  border-color: #DFDFDF;
}

.v-text-field.v-text-field--solo .v-input__control {
  min-height: inherit;
}
// #endregion

.main-container {
  height: calc(100vh - 136px);
  width: 100%;
  overflow-y: auto;
}

.v-item-group.v-bottom-nav .v-btn {
  min-width: 0;
}

.v-item-group.v-bottom-nav .v-btn .v-btn__content {
  font-size: 9px !important;
}

.main-footer {
  .v-icon {
    font-size: 18px;
  }

  .escape-btn {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    border: 1px solid;
    margin: 0;
    margin-top: -22px;
    box-shadow: 0px 0px 5px #5e5e5e;
  }
}

.el-message {
  width: calc(100vw - 40px);
  min-width: 0;
}

h1 { font-size: 2rem; font-weight: bold; }
h2 { font-size: 1.75rem; font-weight: bold; }
h3 { font-size: 1.50rem; font-weight: bold; }
h4 { font-size: 1.25rem; font-weight: bold; }
h5 { font-size: 1.00rem; font-weight: bold; }
h6 { font-size: 0.75rem; font-weight: bold; }

.small-text { font-size: 0.8rem; }

.search-field {
  .el-input__inner {
    border-radius: 0;
    border: none;
    border-bottom: 1px solid #DCDFE6;
  } 
}

.search {
  .el-input__inner {
    border-radius: 25px;
    padding: 0 15px;
    line-height: 45px;
    font-size: 0.75rem;
    height: 34px;
  }

  .el-input__suffix {
    top: -3px;
    right: 10px;
  }
}

.loading-icon {
  width: 4rem;
  opacity: 0.75;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  text-align: center;
}

.tab-group {
  color: $secondary-text-color;

  .tab {
    min-width: 0;
    margin: 0;
    color: $secondary-text-color;
  }

  .active {
    font-weight: 600;
    color: $primary-color;
  }
}

// #region Navigation Drawer
.navigation-drawer {
  text-align: center;

  .navigation-profile {
    padding: 20px 0;
    margin-left: 50%;
    transform: translateX(-63%);

    .profile-image {
      border-radius: 50%;
      height: 125px;
      width: 125px;
      box-shadow: 0 0 3px #aeaeae;
    }
  }

  .navigation-list {
    text-align: left;

    li {
      padding: 8px 25px;
      font-size: 18px;

      .nav-icon {
        font-size: 25px;
        display: inline-block;
      }

      p {
        margin: 0 16px;
        font-size: 18px;
        vertical-align: top;
        display: inline-block;
      }
    }

    .active {
      background: #009888;
    }
  }

  .navigation-bottom {
    position: absolute;
    bottom: 10px;
    width: 100%;

    li {
      font-size: 12px;
      padding: 5px;
    }
  }
}
// #endregion

.menu-header {
  .logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .menu-icon {
    position: absolute;
    right: 20px;
    font-size: 20px;
  }
}

.modal {
  .v-card__title--primary {
    padding-top: 20px;
    position: fixed;
    top: 0;
  }

  .v-card__text {
    min-height: calc(100vh - 50px);
  }

  .modal-header {
    position: relative;
    font-size: 1rem;
    padding: 10px 12px 8px 15px;
    box-shadow: 0 0 3px #BEBEBE;

    .close {
      display: block;
      color: #FFFFFF;
      font-size: 25px;
    }
  }
}

.el-radio-button__inner {
  color: $secondary-text-color;
}

.escape-btn {
  margin-top: 20px;
  margin-bottom: 50px;
  height: 200px;
  width: 200px;
  box-shadow: 10px 12px 15px #5e5e5e;
  border-radius: 50%;
}

@media screen and (max-height:600px) {
  .escape-btn {
    height: 150px;
    width: 150px;
  }
}

.date-field {
  .v-text-field.v-text-field--solo:not(.v-text-field--solo-flat)>.v-input__control>.v-input__slot {
    box-shadow: none !important;
  }
}

.field-label {
  display: block;
  font-size: 0.8rem;
  color: rgba(65,65,65,0.7);
}

.rounded-input {
  .v-input__control {
    .v-input__slot {
      font-size: 12px !important;
      min-height: 35px !important;
      border-radius: 40px !important;
    }
  }
}

.image-uploader {
  width: 100%;
  background: rgba(0,0,0,0.5);
  text-align: center;
  color: $accent-color;
  padding: 10px 0;
  min-height: 125px;
  font-size: 0.8rem;

  .upload-button {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }

  .change-upload-button {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
  }

  .image {
    height: 25%;
  }
}

.section-header {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid $secondary-text-color;
  color: $secondary-text-color;
  line-height:0.1em; 
  margin:10px 0 20px;
  font-weight: 200;
  text-transform: uppercase;
  margin: 30px 0 15px;

  span {
    background: #F5F5F5;
    padding:0 10px;
  }
}

.section-subheader {
  margin-top: -5px;
  font-weight: 100;
  font-size: 0.7rem;
  margin-bottom: 20px;
  color: $secondary-text-color;
  display: block;
  text-align: center;
}

.more-menu {
  & > div {
    margin: 0;
    border-radius: 0;
    min-width: 100px;

    .v-list__tile {
      font-size: 0.78rem;
      height: 35px;
    }

    .v-list__tile__title {
      text-align: center;
    }
  }
}

.group-add-modal {
  .v-card__title {
    padding: 0 10px;
    border-bottom: 1px solid #efefef;
  }
}