<?xml version='1.0' encoding='utf-8'?>
<widget id="com.nomadicode.ventur" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Ventür</name>
    <description>
        Ventür is a tool to connect users with events happening in their current area. It aides travellers in finding things to do that may be less tourist focused and
        fit their criteria. It also aides locals in finding things to do near their home that they may not hear about.
    </description>
    <author email="dev@nomadicode.com" href="https://nomadicode.com">
        Nomadicode Dev Team
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <preference name="android-minSdkVersion" value="19" />
    <preference name="orientation" value="portrait" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="SplashScreenDelay" value="2000" />
    <platform name="android">
        <preference name="APP_SECRET" value="87987c79-118d-414c-99d9-f6df4426ba96" />
        <icon background="static/android/background.xml" density="mdpi" foreground="static/android/foreground.xml" src="static/android/mdpi.png" />
        <icon background="static/android/background.xml" density="hdpi" foreground="static/android/foreground.xml" src="static/android/hdpi.png" />
        <icon background="static/android/background.xml" density="xhdpi" foreground="static/android/foreground.xml" src="static/android/xhdpi.png" />
        <icon background="static/android/background.xml" density="xxhdpi" foreground="static/android/foreground.xml" src="static/android/xxhdpi.png" />
        <icon background="static/android/background.xml" density="xxxhdpi" foreground="static/android/foreground.xml" src="static/android/xxxhdpi.png" />
        <allow-intent href="market:*" />
        <splash src="static/android/splash/splash-hdpi.png" density="port-hdpi"/>
        <splash src="static/android/splash/splash-ldpi.png" density="port-ldpi"/>
        <splash src="static/android/splash/splash-mdpi.png" density="port-mdpi"/>
        <splash src="static/android/splash/splash-xhdpi.png" density="port-xhdpi"/>
    </platform>
    <platform name="ios">
        <preference name="APP_SECRET" value="33fe45b1-717f-4c77-807b-af13ca261259" />
        <preference name="StatusBarOverlaysWebView" value="false" />
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <plugin name="cordova-plugin-appcenter-analytics" spec="^0.2.0" />
    <plugin name="cordova-plugin-appcenter-crashes" spec="^0.2.0" />
</widget>
